OpenErpTest/OpenERP/OpenERP.Web/Service References/WCF.Customer/Customer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Customer" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49210/Customer.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49210/Customer.svc?xsd=xsd4" namespace="http://idu0080.ttu.ee" />
      <xsd:import schemaLocation="http://localhost:49210/Customer.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49210/Customer.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/OpenERP.Library.Entities" />
      <xsd:import schemaLocation="http://localhost:49210/Customer.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/OpenERP.Library" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICustomer_Search_InputMessage">
    <wsdl:part name="parameters" element="tns:Search" />
  </wsdl:message>
  <wsdl:message name="ICustomer_Search_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomer_Search_BusinessLogicFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://idu0080.ttu.ee" name="detail" element="q1:BusinessLogicFault" />
  </wsdl:message>
  <wsdl:message name="ICustomer_SearchById_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchById" />
  </wsdl:message>
  <wsdl:message name="ICustomer_SearchById_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomer_SearchById_BusinessLogicFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://idu0080.ttu.ee" name="detail" element="q2:BusinessLogicFault" />
  </wsdl:message>
  <wsdl:portType name="ICustomer">
    <wsdl:operation name="Search">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomer/Search" message="tns:ICustomer_Search_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomer/SearchResponse" message="tns:ICustomer_Search_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICustomer/SearchBusinessLogicFaultFault" name="BusinessLogicFaultFault" message="tns:ICustomer_Search_BusinessLogicFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchById">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomer/SearchById" message="tns:ICustomer_SearchById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomer/SearchByIdResponse" message="tns:ICustomer_SearchById_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICustomer/SearchByIdBusinessLogicFaultFault" name="BusinessLogicFaultFault" message="tns:ICustomer_SearchById_BusinessLogicFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICustomer" type="tns:ICustomer">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Search">
      <soap:operation soapAction="http://tempuri.org/ICustomer/Search" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BusinessLogicFaultFault">
        <soap:fault use="literal" name="BusinessLogicFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SearchById">
      <soap:operation soapAction="http://tempuri.org/ICustomer/SearchById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BusinessLogicFaultFault">
        <soap:fault use="literal" name="BusinessLogicFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Customer">
    <wsdl:port name="BasicHttpBinding_ICustomer" binding="tns:BasicHttpBinding_ICustomer">
      <soap:address location="http://localhost:49210/Customer.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>