OpenErpTest/OpenERP/OpenERP.Web/Service References/WCF.Invoice/Invoice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Invoice" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49210/Invoice.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49210/Invoice.svc?xsd=xsd4" namespace="http://idu0080.ttu.ee" />
      <xsd:import schemaLocation="http://localhost:49210/Invoice.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49210/Invoice.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/OpenERP.Library.Entities" />
      <xsd:import schemaLocation="http://localhost:49210/Invoice.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/OpenERP.Library" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IInvoice_Create_InputMessage">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="IInvoice_Create_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="IInvoice_Create_BusinessLogicFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://idu0080.ttu.ee" name="detail" element="q1:BusinessLogicFault" />
  </wsdl:message>
  <wsdl:message name="IInvoice_GetById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetById" />
  </wsdl:message>
  <wsdl:message name="IInvoice_GetById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IInvoice_GetById_BusinessLogicFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://idu0080.ttu.ee" name="detail" element="q2:BusinessLogicFault" />
  </wsdl:message>
  <wsdl:message name="IInvoice_GetByNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByNumber" />
  </wsdl:message>
  <wsdl:message name="IInvoice_GetByNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByNumberResponse" />
  </wsdl:message>
  <wsdl:message name="IInvoice_GetByNumber_BusinessLogicFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://idu0080.ttu.ee" name="detail" element="q3:BusinessLogicFault" />
  </wsdl:message>
  <wsdl:portType name="IInvoice">
    <wsdl:operation name="Create">
      <wsdl:input wsaw:Action="http://tempuri.org/IInvoice/Create" message="tns:IInvoice_Create_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInvoice/CreateResponse" message="tns:IInvoice_Create_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IInvoice/CreateBusinessLogicFaultFault" name="BusinessLogicFaultFault" message="tns:IInvoice_Create_BusinessLogicFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <wsdl:input wsaw:Action="http://tempuri.org/IInvoice/GetById" message="tns:IInvoice_GetById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInvoice/GetByIdResponse" message="tns:IInvoice_GetById_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IInvoice/GetByIdBusinessLogicFaultFault" name="BusinessLogicFaultFault" message="tns:IInvoice_GetById_BusinessLogicFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/IInvoice/GetByNumber" message="tns:IInvoice_GetByNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInvoice/GetByNumberResponse" message="tns:IInvoice_GetByNumber_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IInvoice/GetByNumberBusinessLogicFaultFault" name="BusinessLogicFaultFault" message="tns:IInvoice_GetByNumber_BusinessLogicFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IInvoice" type="tns:IInvoice">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/IInvoice/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BusinessLogicFaultFault">
        <soap:fault use="literal" name="BusinessLogicFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <soap:operation soapAction="http://tempuri.org/IInvoice/GetById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BusinessLogicFaultFault">
        <soap:fault use="literal" name="BusinessLogicFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetByNumber">
      <soap:operation soapAction="http://tempuri.org/IInvoice/GetByNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BusinessLogicFaultFault">
        <soap:fault use="literal" name="BusinessLogicFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Invoice">
    <wsdl:port name="BasicHttpBinding_IInvoice" binding="tns:BasicHttpBinding_IInvoice">
      <soap:address location="http://localhost:49210/Invoice.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>