OpenErpTest/OpenERP/OpenERP.Web/Service References/WCF.Product/Product3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://idu0080.ttu.ee" elementFormDefault="qualified" targetNamespace="http://idu0080.ttu.ee" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BusinessLogicFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BusinessLogicFault" nillable="true" type="tns:BusinessLogicFault" />
</xs:schema>