OpenErpTest/OpenERP/OpenERP.Web/Service References/WCF.Product/Product.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/OpenERP.Library" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/OpenERP.Library" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ProductProduct">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OpenErpEntityBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Active" type="xs:boolean" />
          <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DefaultCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Ean13" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HrExpenseOk" type="xs:boolean" />
          <xs:element minOccurs="0" name="IncomingQty" nillable="true" type="xs:double" />
          <xs:element minOccurs="0" name="LocationId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="LstPrice" nillable="true" type="xs:double" />
          <xs:element minOccurs="0" name="NameTemplate" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OutgoingQty" nillable="true" type="xs:double" />
          <xs:element minOccurs="0" name="PartnerRef" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Price" nillable="true" type="xs:double" />
          <xs:element minOccurs="0" name="PriceExtra" nillable="true" type="xs:double" />
          <xs:element minOccurs="0" name="PriceMargin" nillable="true" type="xs:double" />
          <xs:element minOccurs="0" name="PricelistId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ProductTmplId" type="xs:int" />
          <xs:element minOccurs="0" name="ProjectId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="QtyAvailable" nillable="true" type="xs:double" />
          <xs:element minOccurs="0" name="TrackIncoming" type="xs:boolean" />
          <xs:element minOccurs="0" name="TrackOutgoing" type="xs:boolean" />
          <xs:element minOccurs="0" name="TrackProduction" type="xs:boolean" />
          <xs:element minOccurs="0" name="Valuation" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Variants" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VirtualAvailable" nillable="true" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProductProduct" nillable="true" type="tns:ProductProduct" />
  <xs:complexType name="OpenErpEntityBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OpenErpEntityBase" nillable="true" type="tns:OpenErpEntityBase" />
  <xs:complexType name="ArrayOfProductProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductProduct" nillable="true" type="tns:ProductProduct" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductProduct" nillable="true" type="tns:ArrayOfProductProduct" />
</xs:schema>